.DS_Store
.settings
target
.project
.classpath
.vscode
Documentation
resources
dd
bin/deployArgoCD.sh
Documentation
kafka-resources/examples
kafka-resources/install
sc/AccountProfile/.DS_Store
sc/AccountProfile/.classpath
sc/AccountProfile/.project
sc/AccountProfile/.settings
sc/AccountProfile/docker
sc/AccountProfile/target
sc/AccountProfile-Quarkus
sc/AccountProfileUI
sc/AccountService/docker
sc/AccountService/target
sc/AccountService/.DS_Store
sc/AccountService/.classpath
sc/AccountService/.project
sc/AccountService/.settings
sc/AccountService-Quarkus
sc/Credit/node_modules
sc/Credit/.DS_Store
sc/CustomerService/target
sc/CustomerService/configuration
sc/CustomerService/.DS_Store
sc/CustomerService/.classpath
sc/CustomerService/.project
sc/CustomerService/.settings
sc/CustomerUI/node_modules
sc/EventCorrelator/docker
sc/EventCorrelator/.DS_Store
sc/EventCorrelator/target
scripts/startDevEnv.sh
scripts/.DS_Store
tmp